.content-main .content-mod.mod-list {
	padding: 0 0;
}

#list-specials{
	
}
	#list-specials li{
		
	}
	#list-specials li.item-open{
		
	}
		.item-header{
			overflow:hidden;
			padding: 0 4.375% 4.25%;
		}
			.item-header .title{
				color:#ffcbb0;
				font-size:3.4em;
				float:left;
				width:85%;
				line-height: 1.15em;
			}
			.item-header .fa{
				float:right;
				color:#48c3d1;
				font-size:3.3em;
				position:relative;
				top:45px;
			}
			li.item-open .item-header .fa.fa-arrow-right,
			.item-header .fa-arrow-down{
				display:none;
			}
			li.item-open .item-header .fa.fa-arrow-down{
				display:block;
			}

		.item-content{
			padding:4.25% 4.375%;
			font-size:2.35em;
			display:none;
			background:rgba(0,0,0,0.6);
			line-height: 1.2em;
		}
		li.item-open .item-content{
			display:block;
		}
			.item-content .details{
				color:#48c3d1;
				
			}
			.item-content .expiration{
				color:#e0844d;
				padding:1% 0 4.5% 0;
			}
				.item-content .expiration-date{
					
				}
			.item-content img{
				
			}
